.form-addNotas{
    justify-content: start;
    height: 100%;
    background-color: var(--color-fondo-secundario);
    border-radius: 10px;   
    gap: 15px;  
    padding: 10px;
}
.form-addNotas input{
    padding: 5px;
    border-radius: 5px;
}
.form-addNotas textarea{
    height: 110px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.form-addNotas button{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    background-color: chartreuse;
}
