.register-contenedor-form{
    width: 100%;
    height: calc(100vh - 215px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form-register{
    width: 275px;
    height: 300px;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}